
.card{
    margin: 10px 200px;
    border: 2px solid rgb(228, 15, 0);
}

.right-nav-content{
    /* background-color: rgb(223, 223, 223); */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

    .right-nav-content * {
        padding: 5px;
    } 


.jumbotron{
    background-color: rgb(220, 224, 220);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}